.body{
    font-family: 'Poppins', sans-serif;
    
    
}


.slide-image {
    background-image: url("bg-1.png");
    background-repeat: no-repeat;
    background-position: center;

}


.carousel-indicators [data-bs-target]{
    background-color: #FF9C35;

}

.carousel-indicators {
    bottom: -20px;
    margin-bottom: 0px;
}

.title{
    margin-top: 50px;
    margin-bottom: 50px;
}


.card img{
    width: 50%;
}

.card{
    border-style: none;
}

.card-body{
    text-align: center;
}

.card-text{
    color: #707070;
    margin-bottom: 5px;
}

.title-category{

    text-align: center;
    border-bottom: 5px solid orange;
    display: inline;
}

.card{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    border-radius: 20px;
    height: 500px;
}

.card img{
    margin-top: 10%;
}

.card-img-top{
    padding: 15px 20px;
}

.buy-now{
    margin-top:10%;
    color: #fff;
    background-color: #000;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
}

.link{
    color: #FF9D00;
    text-decoration: none;
}

.categories{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.style{
    box-shadow: 10px 10px sienna;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;

}

.item{
    width: 50%;
}